.page {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, Raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  margin-top: 0;
}

/*логотип текст хедер-футер*/
.logo {
  font-family: Raleway;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-footer {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Raleway;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer:hover,
.web-logo,
.web-logo-footer,
.logo:hover {
  color: #2196f3;
}

/*шрифты*/
.site-nav-list,
.contacts-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title-main {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-team {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature,
.contact-list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.link-nav,
.link-mail,
.link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-project {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*точки в списке и подчеркивание в ссылках*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*фокус и выделение в хедер и футер*/
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
  color: #2196f3;
}

.contact-list .link:active,
.contacts-nav .link:active {
  color: red;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
}

.link-tel {
  color: #757575;
}

.link-mail {
  color: #2196f3;
}

.link-nav {
  color: #212121;
}

.position {
  color: #757575;
}

/*hero*/
.hero {
  display: block;
  background-color: #2f303a;
  text-align: center;

  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title,
.link-adress {
  color: #ffffff;
}

/*кнопки*/
.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button:active {
  color: greenyellow;
}

.main-btn {
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  border: transparent;
}

.footer {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2f303a;
}

/*container*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /*outline: 2px solid tomato;*/
}

.page-header {
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.link-item {
  color: #2196f3;
}

/*section*/
.section-team {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 94px;
}

.projects {
  padding-bottom: 94px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-list {
  margin-top: 0;
  margin-bottom: 0;
}

.link-adress,
.link-contact {
  padding-top: 0;
  padding-bottom: 9px;
}

.site-nav-list,
.feature-list,
.img-list,
.button-list {
  display: flex;
}

.href {
  margin-right: 50px;
}

.button-list li {
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 34px;
}

.button-list {
  justify-content: center;
}

.button-list li:last-child {
  margin-right: 0;
}

.btn-primary {
  background-color: #2196f3;
  color: #ffffff;
  padding: 6px 25px;
  border-radius: 4px;
  min-width: 73px;
  border: 1px solid #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-secondary {
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  min-width: 103px;
  padding: 6px 22px;
}

.site-nav-list .href:last-child {
  margin-right: 0;
}

.feature,
.picture {
  margin-top: 0;
  margin-right: 30px;
}

.picture:last-child,
.feature:last-child {
  margin-right: 0;
}

.contacts-nav-list {
  display: flex;
}

.contact-nav {
  margin-right: 50px;
}

.contact-nav:last-child {
  margin-right: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1218px;
}

.site-nav-list {
  margin-left: 93px;
}

.contacts-nav-list {
  margin-left: 344px;
}

/*portfolio*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 1218px;
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-inside {
  margin: 20px 24px;
}

/*team*/
.flex-team-list {
  display: flex;
}

.flex-team {
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.flex-team-list li:last-child {
  margin-right: 0;
}

.section-team {
  background-color: #f5f4fa;
}

/*footer*/
.section-logo {
  margin-top: 0;
  margin-bottom: 20px;
}
